.hero{
    width: 100%;
    min-height: 100vh;
  background: linear-gradient(to bottom right, #FF0000,#000000, #003300); 
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-text {
  position: relative;
  text-align: center;
  max-width: 800px;
}

.hero-text h1{
  font-size: 60px;
  font-weight: 500;
}
.hero-text p2{
        max-width: 393px;
    margin: auto auto auto;
    line-height: 1.4;
    display: flex;

}
.hero-text p{
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4;
}
.hero-text dl{
    color: #808080;
    font-style: italic;
    font-size: 10px;
    font-weight: 300;
}
